.eventsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
.eventSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.eventSection h2 {
    font-size: 16px;
    color: var(--accent-lime);
    text-transform: uppercase;
}
.imageAndLinksContainer {
    display: flex;
    width: 100%;
    height: 260px;
}
.imagesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 60%;
}
  
.imagesContainer img {
    width: 100px;
    height: 160px;
    border-radius: 15px;
}

.imageAndLinksContainer.exhibition,
.imageAndLinksContainer.creative {
    flex-direction: row-reverse;
}

.imageAndLinksContainer.private,
.imageAndLinksContainer.audio {
    flex-direction: row;
}


.linksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 40%;
    text-wrap: wrap;
}
  
.linksContainer ul {
    list-style-type: none;
    padding: 0;
  }
  
.linksContainer li {
    margin: 0.5rem 0;
    font-size: 12px;
  }
  
.linksContainer a {
    text-decoration: none;
    color: var(--main-text-color);
}
  
.linksContainer a:hover {
    text-decoration: underline;
}

  