.eventsSection {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}
.imageBoxContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

  