
.hero {
  background: var(--main-gradient);
  background-position: center center;
  background-size: cover;
  position: relative; 
  height: 50vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  padding: 4rem 2rem;
  /* filter: contrast(1.25) brightness(1.75); */
  overflow: hidden; 
  box-shadow: 0px 0px 120px 10px rgba(5, 21, 34, 0.721);
  border-radius: 10px;
}
/* 
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(15, 14, 97, 0.67), transparent); 
  filter:   contrast(1.25); 
  z-index: 1
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(9, 69, 116, 0.3), transparent); 
   
} */

/* .hero > * {
  position: relative;
  z-index: 1000;
} */

@media (min-width: 768px){
  .hero{
    height: 80vh;
  }
}
  
  