.privateEventsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;
    text-align: center;
    background-color: antiquewhite;
    padding: 1rem;
    border-radius: 10px;
}

.privateEventsContainer h2, .privateEventsContainer h3, .privateEventsContainer p{
    color: var(--dark-text-color);
}
.privateEventsContainer p{
    max-width: 500px;
}
@media (min-width: 768px) {
   .privateEventsContainer{
   }
  }
    
  @media (min-width: 1024px) {
     
  }