.creativeServicesContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem; 
    padding: 2rem 1rem;
    align-items: center;
    border-radius: 10px;
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}

.creativeSectionOne,
.creativeSectionTwo,
.creativeSectionThree {
    display: flex; 
    justify-content: center;
    width: 100%;
    align-items: center; 
    gap: 1rem;  
}

.creativeSectionOne img,
.creativeSectionTwo img,
.creativeSectionThree img {
    width: 50%; 
    height: auto; 
    background: #2BD2FF;
    box-shadow:  7px 7px 14px #115466,
             -7px -7px 14px #45ffff;    
}
.textContainer {
    width: calc(50% - 20px);
    overflow: scroll;    
}

@media (min-width: 768px) {
    .creativeServicesContainer {
        padding: 4rem 2rem;
    }
    .creativeSectionOne,
    .creativeSectionTwo,
    .creativeSectionThree {
        align-items: center;
        gap: 8rem;  
    }
    .creativeSectionOne img,
    .creativeSectionTwo img,
    .creativeSectionThree img {
        width: 60%;
        height: 400px;   
}
    .textContainer{
        width: 400px;
    }
}   


