.footerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 600px;
    padding: 1rem;
    gap: 3rem;
    background-color: transparent;
    border-top: 1px solid var(--accent-lime);
    margin-top: 4rem;
}
.logoIconContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.logoContainer img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

.logoFooterContainer{
    width: 110px;
    height: 110px;
}
.socialMedia{
    display: flex;
    flex-direction: column;
    /* text-align:end; */
    gap: 1rem;
    width: 60%;
}
.socialIntro{
    color: var(--accent-lime);
}
.companyContactContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.quoteContainer{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-height: 100px;
    gap: 1rem;
}
.linksContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 400px;
    min-width: 300px;
}
.company{
    width: 50%;
}
.linksContainer h4{
    color: var(--accent-orange);
    padding-bottom: 1rem;
    font-size: 16px;
}
.linksContainer ul li {
    padding-bottom: 10px; 
}
.linksContainer a{
    text-transform: capitalize;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--main-text-color);
}
.linksContainer a::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--accent-lime);
    transition: width 0.3s ease;
}
  
.linksContainer a:hover::before {
    width: 100%;
    animation: underlineAnimation 0.7s forwards;
}
.linksContainer .active a {
    color: var(--accent-lime);
    font-weight: bold;
}

@media (min-width:768px){
    .footerContainer{
        gap: 5rem;
    }
    .socialMedia{
        max-width: 300px;
        text-align: left;
        align-items: flex-start;
    }
    .quoteContainer{
        max-width: 500px;
    }
    .linksContainer{
       max-width: 500px;
    }
    .linksContainer ul li{
        padding-bottom: 16px;
    }
}
@media (min-width:1024px){
    .footerContainer{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        gap: 0;
    }
    .logoIconContainer{
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        gap: 2rem;
    }
    .socialMedia{
        flex-direction: column-reverse;
        gap: 2rem;
    }
    .socialIntro{
        font-size: 20px;
    }
    .companyContactContainer{
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 80%;
    }
    .linksContainer{
        width: 75%;
        justify-content: center;
    }
    .linksContainer h4{
        font-size: 20px;
    }
    .quoteContainer{
        width: 300px;
        gap:2rem;
    }
}
