.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* height: 540px; */
    padding: 1rem;
    gap: 2rem;
    background-color: var(--main-background);
    border-top: 1px solid var(--accent-lime);
    margin-top: 2rem;
}

.logoIconContainer{
    display: flex;
    flex-direction: row; 
}
.logoInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 20%;
}
.footerIntro{
    display: none;
}
.socialMedia{
    height: 60px;
    display: flex;
    align-items: center;
    width: 40%;
}
.quoteContainer{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 1rem;
}
.companyContactContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.linksContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 16%; 
}
.linksContainer h4{
    color: var(--accent-lime);
    padding-bottom: 1rem;
    font-size: 16px;
}
.linksContainer ul li {
    padding-bottom: 10px; 
}
.linksContainer a{
    text-transform: capitalize;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--main-text-color);
}
.linksContainer a::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--accent-lime);
    transition: width 0.3s ease;
  }
  
  .linksContainer a:hover::before {
    width: 100%;
    animation: underlineAnimation 0.7s forwards;
  }
    .linksContainer .active a {
    color: var(--accent-lime);
    font-weight: bold;
  }

@media (min-width:768px){
    .logoInfo{
        width: 80%;
    }
    .quoteContainer{
        width: 50%;
    }
    .linksContainer ul li{
        padding-bottom: 16px;
    }
}
@media (min-width:1024px){
    .footer{
        flex-direction: row;
        justify-content: space-between;
        height: 400px;
        align-items: center;
        padding: 2rem;
    }
    .logoIconContainer{
        flex-direction: column;
    }
    .footerIntro{
        display: inline;
        height: 100px;
    }
    .companyContactContainer{
        display: flex;
        flex-direction: row-reverse;
        width: 90%;
    }
    .linksContainer{
        width: 60%;
        padding: 0;
        justify-content: space-around;
    }
    .linksContainer h4{
        font-size: 20px;
    }
    .quoteContainer{
        width: 300px;
    }
}
