.audioVisualSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
    background: rgb(1, 6, 76);
    border: 1px solid var(--accent-lime);
}
.audioVisualInfo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    width: 100%;
    margin: 2rem 0;
}
.audioVisualList{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    justify-content: center;
    color: var(--accent-lime);
    text-transform: uppercase;
}
@media (min-width: 768px) {
    .audioVisualSection{
        gap: 2rem;
        padding: 4rem 6rem;
    }
    .audioVisualInfo{
        flex-direction: row;
        gap: 2rem;
        align-items: center;
        width: 70%;
        text-align: left;
        margin: 0;
    }
    .audioVisualList{
        flex-direction: column;
        gap: 2rem;
    } 
    .audioVisualInfo p{
        width: 100%;
    }   
  }
    
  @media (min-width: 1024px) {
    .audioVisualInfo p{
        font-size: large;
        line-height: 28px;
        text-align: right;
    }
  }
