.masonryContainer {
  position: relative; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background: center / cover no-repeat;
}

.imageContainer img {
  width: 100%;
  height: 400px;
}

.imageOverlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.138); 
  z-index: 1;
}

.titleText {
  position: absolute;
  width: 90%;
  top: 50%; left: 50%;
  letter-spacing: 1px;
  transform: translate(-50%, -50%);
  font-size: 20px; 
  font-weight: bold;
  z-index: 2; 
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 1rem;
  background-color: rgba(0, 0, 0, 0.39);
  padding: 2rem 1rem;
  border-radius: 10px;
  color: white; 
  transition: color 0.3s, transform 0.3s; 
}

.titleText:hover {
  color: lime; 
  transform: translate(-50%, -50%) scale(1.1); 
}

@media (min-width: 768px) {
  .imageContainer img {
    height: 600px; 
  }
  .titleText {
    width: 60%;
    font-size: 26px;
  }
}

@media (min-width: 1024px) {
  .imageContainer img {
    height: 800px; 
  }
  .titleText {
    font-size: 32px;
  }
}