.projectsTitle{
    color: lime;
    font-size: 30px;
}
.projectsParagraph{
    color: lime;
    font-size: 16px;
}
.projectSection{
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}
/* SECTION 1 */
.section1ProjectsImages, .section2ProjectsImages, .section3ProjectsImages, .section4ProjectsImages{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}
.section1ProjectsImages{
  flex-direction: row-reverse;
}
.section1ProjectsImages img{
  width: 180px;
  height: 180px;
  border-radius: 15px;
}
.section1ProjectsImages div:nth-child(3) img {
  width: 250px;
  height:280px;
}
.section1ProjectsImages p{
  width: 30%;
  font-size: 14px;
  text-transform: uppercase;
}
.section2ProjectsImages img{
  width: 280px;
  height: 200px;
  border-radius: 15px;
}
/* SECTION 2 */
.section2ProjectsImages{
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}
.section2ProjectsImages img{
  width: 260px;
  height: 200px;
}
.section2Info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 30%;
  height: 100%;
}
.section2ProjectsImages h2{
  font-size: 14px;
  text-transform: uppercase;
  color: var(--accent-lime);
}
.section2ProjectsImages p{
  font-size: 14px;
  padding-right: 1rem;
  border-right: 1px solid var(--accent-orange);
}
.section2Hr{
  width: 60%;
  height: 2px;
  border: 1px;
  background-color: var(--accent-orange);
}
/* SECTION 3 */

.section3ProjectsImages img {
  width: 180px;
  height: 180px;
  border-radius: 15px;
}
.section3ProjectsImages div:nth-child(3) img{
  width: 340px; 
  height: 340px; 
}
/* SECTION 4 */
.section4ProjectsImages img{
  width: 90vw;
  height: auto;
  border-radius: 15px;
}
.section4Info{
  display: flex;
  flex-direction: column;
  width: 90vw;
  gap: 1rem;
}
.section4Info h2{
  font-size: 20px;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.section4Info p{
  font-size: 16px;
  width: 80%;
  padding-top: 1rem;
  border-top: 1px solid var(--accent-lime);
}
@media (min-width:500px){
  .section1ProjectsImages div:nth-child(3) img{
    width: 180px;
    height: 180px;
  }
  .section1ProjectsImages p{
    width: 100%;
    text-align: center;
  }
  .section2ProjectsImages{
    gap: 4rem;
  }
  .section2Info{
    justify-content: center;
  }
  .section2ProjectsImages h2{
    padding-left: 1rem;
  }
  .section2ProjectsImages p{
    padding-left: 1rem;
    border-left: 1px solid var(--accent-orange);
    border-right: none;
  }
  /* section 3 */
  .section3ProjectsImages div:nth-child(3)  img{
    width: 180px; 
    height: 180px; 
  }
  /* SECTION 4 */
  .section4ProjectsImages{
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3rem;
  }
  .section4Info{
    width: 40%;
  }  
  .section4ProjectsImages img{
    width: 50vw;
  }
  .section4Info h2{
   font-size: 30px;
  }
  .section4Info p{
    font-size: 18px;
    width: 70%;
  }
}
@media (min-width: 768px) {
    .projectsTitle{
      font-size: 50px;
    }
    .projectsParagraph{
      font-size: 24px;
    }
    .section1ProjectsImages p{
      width: 20%;
      text-align: left;
      font-size: 26px;
    }
    .section2ProjectsImages h2{
      font-size: 26px;
      padding: 0;
    }
    .section2ProjectsImages p{
      font-size: 20px;
    }
  }
  @media (min-width: 1240px){
    .projectsTitle{
      font-size: 100px;
    }
    .projectsParagraph{
      font-size: 32px;
    }
    .section1ProjectsImages, .section2ProjectsImages{
      flex-direction: row;
      justify-content: flex-start;
    }
    .section1ProjectsImages img{
      width: 380px;
      height: 380px;
    }
    .section1ProjectsImages div:nth-child(3) img{
      width: 380px;
      height: 380px;
    }
    .section1ProjectsImages p{
      padding: 0 0 0 2rem;
    }
     /*section2  */
    .section2Info{
      width:30%;
    }
    .section2ProjectsImages{
      gap: 20rem;
    }
    .section2ProjectsImages img{
      width: 100%;
      height: 480px;
    }
    .section2ProjectsImages h2{
      font-size: 50px;
    }
    .section2ProjectsImages p{
      width: 70%;
      font-size: 30px;
    }
    .section2Hr{
      width: 90%;
    }
    /* section 3 */
    .section3ProjectsImages{
      gap: 4rem;
    }
    .section3ProjectsImages div:nth-child(1) img,
    .section3ProjectsImages div:nth-child(3) img {
      width: 300px;
      height: 350px;
    }
    .section3ProjectsImages div:nth-child(2)  img{
      width: 480px; 
      height: 580px; 
    }
  }