.projectsTitle{
    color: lime;
    font-size: 30px;
}
.projectsParagraph{
    color: lime;
    font-size: 16px;
}
/* PROJECT SECTION 1 */
.projectSection1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
.exhibitionsRow1 , .exhibitionsRow2{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 2rem 0;
}
.exhibitionsRow1 img{
  width: 46%;
  height: auto;
}
.exhibitionsRow2 img {
  width: 70%; 
  height: auto;
}
.exhibitionsRow2 h2 {
  font-size: 16px;
  width: 20%;
}

/* PROJECT SECTION 2 */
.projectSection2{
  margin: 2rem 0;
}
.exhibitionSection2{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.exhibitionSection2 img{
  width: 60%;
  height: auto;
}
.exhibitionSection2Info{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
  border-right: 1px solid var(--accent-orange);
}
.exhibitionSection2Info h2{
  font-size: 14px;
  text-transform: uppercase;
  color: var(--accent-lime);
}
.exhibitionSection2Info p{
  height: 100px;
  font-size: 14px;
  padding-right: 1rem;
}
.section2Hr{
  margin: 1rem 0;
  width: 80%;
  height: 2px;
  border: 1px;
  background-color: var(--accent-orange);
}
/* SECTION 3 */

/* .section3ProjectsImages img {
  width: 40vw;
  height: auto;
  border-radius: 15px;
}
.section3ProjectsImages div:nth-child(3) img{
  width: 90vw; 
  height: auto; 
} */
/* SECTION 4 */
/* .section4ProjectsImages img{
  width: 90vw;
  height: auto;
  border-radius: 15px;
}
.section4Info{
  display: flex;
  flex-direction: column;
  width: 90vw;
  gap: 1rem;
}
.section4Info h2{
  font-size: 20px;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.section4Info p{
  font-size: 16px;
  width: 80%;
  padding-top: 1rem;
  border-top: 1px solid var(--accent-lime);
} */
/* SECTION 5 */
/* .section5ProjectsImages img{
  width: 40vw;
  height: auto;
  border-radius: 15px;
}
.section5Hr{
  width: 60%;
  position: absolute;
  right: 0;
  top: 0;
  height: 1px;
  border: 1px;
  background-color: var(--accent-lime);
} */
@media (min-width:500px){

  .section2ProjectsImages h2{
    padding-left: 1rem;
  }
  .section2ProjectsImages p{
    padding-left: 1rem;
    border-left: 1px solid var(--accent-orange);
    border-right: none;
  }
  .section3ProjectsImages div:nth-child(3)  img{
    width: 180px; 
    height: 180px; 
  }
  .section4ProjectsImages{
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3rem;
  }
  .section4Info{
    width: 40%;
  }  
  .section4ProjectsImages img{
    width: 50vw;
  }
  .section4Info h2{
   font-size: 30px;
  }
  .section4Info p{
    font-size: 18px;
    width: 70%;
  }
}
@media (min-width: 768px) {
  .projectsTitle{
    font-size: 50px;
  }
  .projectsParagraph{
    font-size: 24px;
  }
  .exhibitionsRow1 , .exhibitionsRow2{
    width: 50%;
  }
  .exhibitionsRow2{
    flex-direction: column-reverse;
  }
  .exhibitionsRow2 img {
    width: 68%;
    height: auto; 
  }
  .exhibitionsRow2 h2 {
    font-size: 20px;
    width: 50%;
  }
  .projectSection2{
    margin: 2rem 0;
  }
  .exhibitionSection2Info h2{
    font-size: 26px;
  }
  .exhibitionSection2Info p{
    font-size: 20px;
  }
    
}
  @media (min-width: 1240px){
    .projectsTitle{
      font-size: 100px;
    }
    .projectsParagraph{
      font-size: 32px;
    }
    .exhibitionsRow2{
      flex-direction: row-reverse;
      justify-content: space-evenly;
    }
    .exhibitionsRow2 img {
      width: 58%;
      height: auto; 
    }
    .exhibitionsRow2 h2 {
      font-size: 28px;
      width: 18%;
    }
    .exhibitionSection2{
      justify-content: space-between;
    }
    .exhibitionSection2Info{
      border-right: none;
    }
    .exhibitionSection2Info p{
      border-left:1px solid var(--accent-orange);
      padding: 5px;
      margin-left: 6px;
    }
    .section2Hr{
      width: 90%;
      margin: 4rem 0;
    }
    /* .section3ProjectsImages{
      gap: 4rem;
    }
    .section3ProjectsImages div:nth-child(1) img,
    .section3ProjectsImages div:nth-child(3) img {
      width: 300px;
      height: 350px;
    }
    .section3ProjectsImages div:nth-child(2)  img{
      width: 480px; 
      height: 580px; 
    } */
  }