.privacyContainer{
    width:100%;
    align-items: flex-start;
    gap: 1rem;
    background-color: var(--main-text-color);
    color: var(--dark-text-color);
    padding: 2rem;
    border: 2px solid var(--accent-lime);
    border-radius: 10px;
}
.privacyTitle{
    color: var(--accent-yellow);
}
.emailLink{
  text-transform: lowercase;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.emailLink:hover{
  color: var(--accent-lime);
}
.dateUpdate{
  padding: 1rem 0;
}