
/* General Title and Paragraph Styling */
.homeTitle {
  font-size: 50px;
}

.homeParagraph {
  font-size: 20px;
}

/* Container for events */
.eventsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem; 
  width: 100%;
}

/* Styling for each section */
.exhibitionsSection, .privateEventsSection, .creativeServicesSection, .audioVisualSection {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 20px;
  align-items: center;
}

/* Image styling */
.exhibitionsImage1{
  width: 100px;
  height: 300px;
  flex: 1;
}
 .privateEventsImage1, .creativeServicesImage1, .audioVisualImage1 {
  height: 300px;
  width: 400px;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.privateEventsImage2, .creativeServicesImage2, .audioVisualImage2 {
  height: 300px;
  width: 400px;
}

/* Links styling */
.sectionLinks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  flex: 1;
}

.sectionLinks a {
  color: #007bff;
  text-decoration: none;
  font-size: 18px;
}

.sectionLinks a:hover {
  text-decoration: underline;
}
