.homeTitle{
  font-size: 50px;
}
.homeParagraph{
  font-size: 20px;
}
.eventsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem; 
  width: 100%;
}
.exhibitionsSection{
  background-color: #1c2237;
  color: #cd1985;
  display: flex;
  justify-content: center;
}
 
.privateEventsSection {
  background-color: #fff;
  color: gray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.creativeServicesSection {
  background-color: #06d6a0;
  color: #000000;
  border-top: 4px solid #000;
}
  
.audioVisualSection {
  background-color: #2a9d8f;
  color: #ffffff;
}

.exhibitionsImage1 {
  border-radius: 50%;
  width: 80%;
  height: 500px;
}

.creativeImage1 {
  border-radius: 10%;
  width: 50%;
  height: 150px;
}
.creativeImage2{
  width: 50%;
}

.privateImage1 {
  border-radius: 20%;
  width: 50%;
  height: 180px;
}
.privateImage2{
  width: 50%;
}

.audioVisualImage1 {
  border-radius: 30%;
  width: 70%;
  height: 200px;
}
.audioVisualImage2{
  width: 50%;
}