.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--gradient-blue);
    padding: 20px;
    border-radius: 4px;
}
.contactInfo{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    
}
.formDescription{
    display: flex;
    flex-direction: row;
}
.formTitle{
    font-size: 20px;
    margin-bottom: 20px;
}
.contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.field{
    display: flex;
    flex-direction: column;
}
.label{
    color:lime;
}
.input{
    height: 40px;
    border: 1px solid lime;
    border-radius: 5px;
}
.inputMessage{
    border-radius: 5px;
    border: 1px solid lime;
}
.contactFormWhatsApp{
    font-size: 20px;
    width: 20px;
    text-decoration: underline;
    text-decoration-color: var(--accent-lime);
    text-underline-offset: 8px;
}
.contactFormWhatsApp:hover{
    color: var(--hover-blue);
}
.waLink{
    text-decoration: underline;
    text-decoration-color: var(--accent-lime);
    text-underline-offset: 8px;
}
@media (min-width: 768px){
    /* .formContainer{
        flex-direction: row;
        width: 60%;
    }
    .contactInfo{
        width: 50%;
        border: 1px solid green;
    }
    .contactForm{
        width: 50%;
    } */
}
