.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--gradient-blue);
    padding: 10px;
}
.contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.field{
    display: flex;
    flex-direction: column;
}
.label{
    color:lime;
}
.input{
    height: 40px;
    border: 1px solid lime;
    border-radius: 5px;
}
.inputMessage{
    border-radius: 5px;
    border: 1px solid lime;
}
@media (min-width: 768px){
    .formContainer{
        flex-direction: row;
        width: 60%;
    }
    .contactInfo{
        width: 50%;
        border: 1px solid green;
    }
    .contactForm{
        width: 50%;
    }
}
