/* .bannerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--accent-orange);
    padding: 0 2rem;
    margin-bottom: 1.4rem;

    @media (min-width:1024px) {
        justify-content: end;
    }
}
.bannerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;

    @media (min-width: 768px) {
        width: 70%;
        justify-content: space-around;
    }
}
.bannerContent p {
    color: var(--main-background);
    font-size: 16px;
    text-transform: uppercase;

    @media (min-width: 768px) {
        font-size: 20px;
        letter-spacing: 2px;
    }
}
.bannerSideArrow {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: var(--main-background);


    @media (min-width: 768px) {
        font-size: 30px;
    }
} */
