.logoContainer {
    width: 200px; 
    height: 60px; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    border-radius: 10px;
    background: #152f445f;
    box-shadow:  7px 7px 14px #12293b72,
                 -7px -7px 14px #18354d72;
  }
  .logoContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
    