.flipCardContainer {
    width: 100%;
    perspective: 1000px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}
  
.cardInner {
    position: relative;
    width: 100%;
    height: 160px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flipCardContainer:hover .cardInner {
    transform: rotateY(180deg);
}

.cardFace {
    position: absolute;
    width: 100%;
    height: 160px;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 8px;
}

.cardBack {
    transform: rotateY(180deg);
}

.missionStyle .cardFront {
    background: linear-gradient(180deg, rgba(255,230,3,1) 42%, rgba(254,122,58,1) 91%);
    color: #333;
}

.visionStyle .cardFront {
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); 
    color: #fff;
}

.teamStyle .cardFront {
    background: linear-gradient(0deg, rgba(0,224,255,1) 0%, rgba(4,59,255,1) 100%);
    color: #000;
}

.missionStyle .cardBack {
    background-color: #FFE603;
    color: #333;
}

.visionStyle .cardBack {
    background-color: #8A2BE2;
    color: #fff;
}

.teamStyle .cardBack {
    background-color: #00E0FF;
    color: #000;
}

@media (min-width: 768px) {
    .cardInner, .cardFace{
        height: 300px;
    }
}
@media (min-width: 1024px ) {
    .cardInner, .cardFace{
        height: 400px;
    }
}

  