.floating-whatsapp {
  display: none;
}
@media (min-width: 768px) {
  .floating-whatsapp {
    display: inline; 
    position: fixed;
    left: 20px;
    top: 80%;
    transform: translateY(-50%);
    z-index: 1000;
    background-color: transparent;
    color: lime;
    cursor: pointer;
    font-size: 43px;
    transition: transform 0.3s ease-in-out;
    border: none;
  }
  .floating-whatsapp:hover {
    transform: translateY(-50%) scale(1.2);
  }
}
