:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace, "Roboto";

  --main-background: #020408;
  --main-gradient: linear-gradient(180deg, rgba(4,19,32,1) 0%, rgba(37,74,103,1) 100%);
  --main-text-color: #fff;
  --gradient-navy: linear-gradient(180deg, rgba(4,19,32,1) 0%, rgba(37,74,103,1) 27%, rgba(20,42,58,1) 73%, rgba(4,19,32,1) 99%);
  --gradient-blue: linear-gradient(13deg, rgba(49,76,177,1) 35%, rgba(1,194,220,1) 100%);
  --accent-lime: #00FFA3;
  --accent-orange: #FB5607;
  --hover-orange: #FE7A3A;
  --accent-blue: #043BFF;
  --hover-blue: #00E0FF;
  background-color: #020408;
}

body {
  background: var(--main-background);
  /* background: var(--main-gradient); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Barlow", sans-serif;
  padding: 0 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--main-text-color);
  
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}
.logoContainer {
  width: 200px; 
  height: 60px; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.logoContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
